/*
 *                      myCalendar Object
 *                      December 27, 2013
 *                          Howard Xu
 *
 *  The myCalendar object using the layout as following class names:
 *
 *      -------------------------------------------
 *      | --------------------------------------- |
 *      | |pprev|       p[d]title         |pnext| | <-- phead
 *      | --------------------------------------- |
 *      |-----------------------------------------|
 *      | --------------------------------------- |   <-- pout
 *      | |                                     | |
 *      | |                                     | | <--  pbody
 *      | |                                     | |
 *      | |                                     | |
 *      | |                                     | |
 *      | |                                     | |
 *      | |                                     | |
 *      | --------------------------------------- |
 *      -------------------------------------------
 *  pout table contains phead table and pbody table
 *  phead table contains th: pprev, ptitle or dtitle, pnext 
 *
 *        --------------------------------------- 
 *        |           pweek                     | 
 *        |-------------------------------------|
 *        | plmday |         pday               | 
 *        | -------                             | 
 *        |                 -------             | 
 *        |                 |psday|             | 
 *        |                 -------             | 
 *        |                           --------- | 
 *        |                          |  pnmday  | 
 *        --------------------------------------- 
 *  on month calendar, pbody table contains 7 rows with 7 cols
 *      first row contains 7 pweek th
 *      rest rows contains td: plmday, pday, psday, pnmday
 *      [ lastmonth-day, day, select-day, nextmonth-day ]
 *
 *        --------------------------------------- 
 *        |        |  pmonth |         |        | 
 *        |        |  /pyear |         |        | 
 *        |-------------------------------------| 
 *        |        |         |         |        | 
 *        |        |         |         |        | 
 *        |-------------------------------------| 
 *        |        |         |         |        | 
 *        |        |         |         |        | 
 *        ---------------------------------------
 *  on month and year calendar, pbody contains 3 rows with 4 cols
 *      each td using pmonth or pyear
 *
 */

table.pout{
    border:1px solid black;
    font-family: "Times New Roman",Times,serif;
    font-size: 16px;
    box-shadow: 5px 5px 2px #888888;
    background-color:#fff;
}
table.phead th, table.pbody td {
    text-align: center;
    padding: 4px;
}
.pprev:before {
    content: "\ab";
}
.pnext:after {
    content: "\bb";
}
th.pprev:hover, th.pnext:hover,  th.ptitle:hover {
    background-color: #fae9e9;   
}
td.pmonth:hover, td.pyear:hover, td.plmday:hover, td.pnmday:hover, td.pday:hover, td.psday:hover {
    background-color: #fad4c9;
}
.pprev, .pnext, .plmday, .pnmday {
    background-color: #e5e8dc;
}
.ptitle, .dtitle {
    width: 144px;
}
.pday, .ptitle {
    background-color: #f7f0f2;
}
.pmonth, .pyear {
    height:65px;
    width: 45px;
    text-align: center;
    background-color: #f7f0f2;
}
.psday {
    background-color: #c5e6e8;
}
